<div class="content">
<div>
    <i class="material-icons" (click)="onNoClick()">close</i>
  </div>
<div class="message">
  פרטי המכרז נשלחו אליך למייל
  <br>
  <span class="success">בהצלחה!</span> 
</div></div>