.message{
    font-size: 40px;
    text-align: center;
}

.jumbotron{
    margin-bottom: 0;
    /* background-image: url('../../assets/11.png'); */
    background-repeat: no-repeat;   
}

h1{
  font-size: 48px;
}
.main-div{
  padding-right: 100px;
  padding-left: 100px;
  direction: rtl !important;
  color:indianred;
}

.bcd{
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: url('../../assets/ריבוע רקע.png'); */
  height:500px;
  border-radius: 30px;
  padding-right: 70px;
  direction: rtl !important;
}

input, span {
  border-radius: 10px;
  background-color: transparent;
  border-color: indianred;
}

.padding-top-70{
  padding-top: 70px;
}

.mmm{
direction: rtl;
}

.width70{
  width: 70%;
}

.image-plus{
  float: left;
  margin-top: -10px;
  margin-left: -10px;
}

.success{
    color: indianred;
    font-weight: bolder;

    font-size: 40px;
    text-align: center;
}


.content{
    color: black;
    background-color: white;
}
