<!-- <p style="float: right;" קוד לרשימה של קטגוריות פתוחה>
  <p-listbox  [options]="category" [(ngModel)]="selectedCities" multiple="multiple" checkbox="checkbox" filter="filter" optionLabel="name_category">
      <p-header>
        <i class="fa fa-car"></i>
        קטגוריות
      </p-header>
    </p-listbox>
    </p> -->
<div style="background-color:#f1a5af73;width: 100%; ">
 <h1>חיפוש מכרזים פעילים</h1>
<div class="row" >
  
    <div class="col-sm-2"  style="float: right;">
        <label  style="float: right;" > קטגוריות</label>
          <br>
            <p-multiSelect [options]="category" [(ngModel)]="selectedCategorys" multiple="multiple" checkbox="checkbox" filter="filter" optionLabel="name_category"></p-multiSelect>
          
        </div> 
        <label  style="float: right;" >-  טווח מחירים </label>
  <div class="col-sm-2"  style="float: right;">
      <br>
      <input class="input" type="number" min=50 pInputText placeholder="- מ" [(ngModel)]="selectedFrom"  />
</div>
<div  class="col-sm-2" style="float: right;margin: 3px">
    <br>
    <input class="input" type="number" max=10000 pInputText  placeholder="- עד "[(ngModel)]="selectedTo"  />
    </div>
      <!--div class="col-sm-2"  style="float: right;">
      <label  style="float: right;" > אזור</label>
        <br>
          <p-dropdown  [options]="cities" optionLabel="name" [(ngModel)]="selectedCity"></p-dropdown>
      </div-->
      <br>
    <div  class="col-sm-2" style="float: right;margin: 3px">
          <img src="assets/חפש.png" (click)="onSearch()">
          <br>
          <br>
</div><link rel="stylesheet" type="text/css" href="/node_modules/primeicons/primeicons.css" />
<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/nova-light/theme.css" />
<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />


<p-card style="
text-align: center;" >
    <h1>הרשמה</h1>
 <div ></div>
<br>
<br/>
<input class="input" type="first_name" pInputText type="text" pInputText placeholder="שם פרטי" [(ngModel)]="newPeople.first_name">         
<br>
<br>
<input class="input" type="last_name" pInputText type="text"  pInputText placeholder="שם משפחה" [(ngModel)]="newPeople.last_name">         
<br>
<br>
<input  class="input" type="gmail" pInputText type="text" pInputText placeholder="אמייל" [(ngModel)]="newPeople.gmail">
<br>  
<br> 
<input  class="input" type="password" pInputText type="text" pInputText placeholder="סיסמא" [(ngModel)]="newPeople.password">         
<br>
<br>
<input  class="input" type="password" pInputText type="text"  type="password" pInputText placeholder="אימות_סיסמא" >       
<br/>
<br>
<br/>
<img src="assets/שמור.png" (click)="save()"/>
</p-card>
<br>



        </div>     
 </div>
        <div class="container">
      
            <div class="row"> 
            
              <div class="col-sm-4" *ngFor="let item of MechrazService.listauctuion">
                <div class="panel panel-primary p">
                  <div class="panel-body"><img  src="../../assets/{{item.image}}" class="img-responsive" style="width:100%;height: 200px;" alt="Image"></div>
              
               <div style="text-align: center;color: brown">
                 <h3>{{item.product_des}}</h3>
                  <span *ngIf="item.yatzran"> <b> יצרן :</b>  {{item.yatzran}}</span>   <span *ngIf="item.yatzran">  </span> 
                  <span *ngIf="item.degem"> <b> דגם : </b>{{item.degem}}</span>	              <span *ngIf="item.degem">  </span>	
                  <span *ngIf="item.ProductionYear">שנת יצור : {{item.ProductionYear}}</span>	<span *ngIf="item.ProductionYear">  </span>	
                  <span *ngIf="item.color"><b> צבע: </b>{{item.color}}</span>	<span *ngIf="item.color">  </span>
                  <span *ngIf="item.color"><b> גודל:</b> {{item.size}}</span>	<span *ngIf="item.size">  </span>
                 <span *ngIf="item.city"> <b> איזור :</b> {{item.city}}</span>       <span *ngIf="item.city">  </span> 
               <br/> 
                    <a   [routerLink]="['/productditailes',item.id_auction]" ><img src="assets/להצעה_של_המכונית_הבחורה.png"></a>
                </div>
            
              
               <!-- {{item.date_close  | date}}:תאריך סגירה   
                  <a [routerLink]="['/productditailes',item.id_auction]">לפרטים</a>   -->
                </div>
              </div> 
            </div>
            </div><br>
      



<!-- <p-listbox [options]="listrange" [(ngModel)]="selectedCity" optionLabel="name"></p-listbox> -->

<!-- <p>Selected Cities: <span *ngFor="let c of selectedCities" style="margin-right: 10px">{{c.name_category}}</span></p> -->