
<label>שם
  <img src="assets/שם.png">
</label>
<br>
<label> מספר כרטיס אשראי
<img src="assets/ריבוע_מילוי_כרטיס_אשראי.png">
</label>
<br>
<label >תוקף
<img src="assets/ריבוע_מילוי_תוקף.png">
</label>
<br> 
<label> ספרות בגב הכרטיס 3 Cvv
<img src="assets/ריבוע_מילוי_3_ספרות.png">
 </label>
 <br>


<br>    
<input name="sum"  class="ui-inputtext ui-widget ui-state-default ui-corner-all" role="textbox" type="number" pInputText placeholder="סכום הצעה" [(ngModel)]="o.sum_offer">         
<br>

<img src="assets/שליחת_הצעה.png" (click)="add()">