
<div style="float: right;" class="ktav "></div>
<p-card style="
text-align: center;" >
    <h1>כניסה לאזור אישי</h1>     
<br>
<input  class="input" type="text" pInputText placeholder="שם משתמש" name="gmail" [(ngModel)]="People.gmail" />
<br>
<br/>
<input class="input" type="password" name="password"   pInputText placeholder="סיסמא"  [(ngModel)] ="People.password" />
<br/>
<br>
<br/>
<!-- <img (click)="login()" src="assets/כניסה.png"/> -->
<img src="assets/כניסה.png" (click)="login()">
<br><br/>
<img  [routerLink]="['/newuser']" src="assets/משתמש_חדש.png"/>
<br/>
<br/>
<br/>
<br/>
<br/>
</p-card>
<br/>
<br/>
