:host >>> .ui-card{
   
    background-color: #f1a5af73 !important;
      width: 40% !important;;
     position: absolute;
    right: 450px;
   
}
h1{
    color: #a94442;
    text-align: center;
    font-family: 'Varela Round Regular', 'Varela Round Regular', Calibri, 'Trebuchet MS', sans-serif
}
      
:host >>> .ui-dropdown .ui-dropdown-label {
    /* padding-right: 2em; */
    color: #a94442 !important;
    background-color:#f9d6db   !important;;
    border: 1px solid #a94442  !important;;
    border-radius: 15px;
    width: 250px;

}
.input{
    color: #a94442;
    background-color: #f9d6db ;
    border: 1px solid #a94442;
    border-radius: 15px;
    width: 250px;
    text-align: right;
}

.ktav{
    font-style: italic;
    font-size: xx-large;
    color: brown
    
}