
   <!-- ///תחילת העתקה -->
   
   <div class="container">    
    <div class="row"> 
    
      <div class="col-sm-4" *ngFor="let item of MechrazService.listauctuion">
        <div class="panel panel-primary p" >
        
    
      <div class="panel-body"  ><img   [routerLink]="['/productditailes',item.id_auction]" src="../../assets/{{item.image}}" class="img-responsive" style="width:100%;height: 200px;" alt="Image"></div>
         <!-- {{item.date_close  | date}}:תאריך סגירה  -->
    
         <!-- <a [routerLink]="['/productditailes',item.id_auction]">לפרטים</a> -->
              {{item.product_des  }}
    
        </div>
      </div>
    
    </div>
    </div><br>
    
       <br><br>
     
    <!-- <footer class="container-fluid text-center">
    <p>Online Store Copyright</p>  
    <form class="form-inline">Get deals:
      <input type="email" class="form-control" size="50" placeholder="Email Address">
      <button type="button" class="btn btn-danger">Sign Up</button>
    </form>
    </footer> -->
    
    
    