<h1>מכרזים שהעלתי</h1>
<div class="col-sm-4" *ngFor="let a of auctions">
    <div class="panel panel-primary">
    
      <div class="panel-body"><img src="../../assets/{{a.image}}" class="img-responsive" style="width:100%;height: 200px;" alt="Image"></div>
  <span>{{a.product_des}}</span>
  <!-- <p>פרטים....</p> -->
  <a [routerLink]="['/Bids',a.id_auction]"><img src="../../assets/להצעה.png"/></a>
    </div>
  </div>