.g{    position: absolute;
    width: 200px;
    top: -20px;
    border-radius: 10px;
}
.g:hover{
    border: 3px solid white;
    border-radius: 15px;
}
.click{
    border: 3px solid white;
    border-radius: 15px;
}


.jumbotron{
    margin-bottom: 0;
    background-image: url('../assets/11.png');
    background-repeat: no-repeat;

    
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 1px !important;
    border: 1px solid transparent;
}