<div class="jumbotron">
    <div class="container text-center">
      <h1 style="color: white" >MICRAZ</h1>      
      <h3 style="color: white">מאגר המכרזים</h3>
    </div>
  </div>

<nav class="navbar">
<div class="container-fluid"></div>


<ul class="nav navbar-nav "  align="center">
    <li><a  style="padding-top: 0px;padding-left:300px "[routerLink]="['/Newauctuion']"  ><img style="        left: 550px;
        " class="g " [ngClass]="{'click': isClick1==true}" (click)="click(1)" src="../../assets/העלאת_מכרזים.png"></a></li>
  <li><a [routerLink]="['/search']"  style="padding-top: 0px;  "><img style="left: 500px;
    " class="g"  [ngClass]="{'click': isClick2==true}" (click)="click(2)" src="../../assets/חיפוש_מכרזים_פעילים.png" width="100%"  ></a></li>
  
</ul>

</nav>
<router-outlet></router-outlet>