   
<div class="container mybids">    
    <div class="row"> 
    <h2>מכרזים שהשתתפתי בהם</h2>

<div class="col-sm-4" *ngFor="let b of auctiuoinService.CurrentUsersBids">
    <div class="panel panel-primary p" >
        <div class="panel-body">
    <img src="../../assets/{{b.image}}" class="img-responsive" style="width:100%;height: 200px;" alt="Image"/> 

<br>
<span class="title">{{b.product_des}}    </span>    
<br>
<!-- <span>הערות...{{}}</span> -->
</div>
</div>
</div>

</div>
</div>
