
.ktav{
    font-style: italic;
    font-size: xx-large;
    color: brown
    
}
.column{
    columns: 50px 3;
}
.dT{
    margin-left: 100px;
    
}

.Y{
    margin-left: 1100px;
    
}

.img{

    margin-left: -20px;
    border: solid;
    border-color: brown;
     width:500%;
     height: 300px ;
    border-radius: 10px
    
}


