
<div style="float: right;" class="ktav ">
    <!-- //מעביר לצד ימין -->
<div class="Y">

 <div style="direction: rtl;position: absolute;">
        <h2> <b>{{auctuion.product_des}}</b></h2>
 <h3 *ngIf="auctuion.yatzran"><b> יצרן :</b> {{auctuion.yatzran}}</h3>   
 <h3 *ngIf="auctuion.degem"><b> דגם : </b>{{auctuion.degem}}</h3>	              
 <h3 *ngIf="auctuion.ProductionYear"> <b>שנת יצור :</b> {{auctuion.ProductionYear}}</h3>	
 <h3 *ngIf="auctuion.color"><b> צבע: </b>{{auctuion.color}}</h3>	
 <h3 *ngIf="auctuion.size"><b> גודל :</b> {{auctuion.size}}</h3>   
 <h3 *ngIf="auctuion.city"> <b>איזור : </b>{{auctuion.city}}</h3>     
  </div>

</div>
<div class="column" >
    <DIV style="direction: rtl; font-size: small;  ">
        <div style=" font-size: xx-large;  ">
                מחיר התחלתי:{{auctuion.price_start}}
          </div>
          <div style="text-align: center"> 
             <div style="    color: #a94442;
             background-color:white;
             border: 1px solid #a94442;
             border-radius: 10px;
             width: 100px;
             text-align: right;
              ">  ימים עד סיום המכרז : <b>13</b></div>
     <br/>
          
          <div style="    color: #a94442;
          background-color:white;
          border: 1px solid #a94442;
          border-radius: 10px;
          width: 100px;
          text-align: right;
               "> מספר המשתתפים עד כה : <b>30</b></div>

          </div>
    <br>
    <a  [routerLink]="['/userold']" ><img src="assets/להצעה_של_המכונית_הבחורה.png"></a>
    
    
    </DIV>
 <div class="dT">
  
    
    <img src="../../assets/{{auctuion.image}}" class="img-responsive img"  alt="Image">
    
   

  </div>

<!-- {{auctuion.date_close  | date}}:סיום תהליך -->
<!-- כפתור מעוגל -->
<!-- <button pButton type="button" class="ui-button-raised ui-button-rounded"></button> -->
</div>