
h2 {
    color:#9C3A48 !important;
}
.nain{
    margin-bottom: 0;
    width:100%;
    height: 10px;
    background-color:#9C3A48;
    top:70px;
    padding-top: 70px;
    padding-bottom: 70px;
}
:host >>>  span.ui-multiselect-label.ui-corner-all {
    width: 160px !important;
}
:host >>> span.ui-multiselect-label.ui-corner-all {
    direction: rtl !important;
}
:host >>> .nain.nav.navbar-nav {
    padding-left: 500px !important;
    direction: rtl !important;
}
.size{
    padding: 0.429em;
    padding-right: 2em;
    top:90px;
}
.p{border: 3px solid brown}

.upload{
    text-align: center;
}