

<div class="upload">
    <a [routerLink]="['/MyAuctuoins']">מכרזים שהעלתי</a>
    <br>
    <a [routerLink]="['/MyBids']">מכרזים שהשתתפתי בהם</a>
    <br>
    <span>שלום {{user.first_name}}  {{user.last_name}}</span>
    <br>
    <span>{{user.gmail}}</span></div>