<div *ngIf="!open">
    <div *ngFor="let b of bids">
    {{b}}
    <br>
    </div>
    </div>
    <h2 *ngIf="open">מכרז זה עדיין לא נסגר, 
        <br> לאחר סגירת המכרז רשימת הצעות המחיר תשלח לכתובת {{michrazSerice.CurrentUser.gmail}} </h2>
