.jumbotron{
  margin-bottom: 0;
  background-image: url('../../assets/11.png');
  background-repeat: no-repeat;   
}

h1{
font-size: 48px;
}
.main-div{
padding-right: 100px;
padding-left: 100px;
direction: rtl !important;
color:indianred;
}

.bcd{
background-repeat: no-repeat;
background-size: cover;
/* background-image: url('../../assets/ריבוע רקע.png'); */
height:500px;
border-radius: 30px;
padding-right: 70px;
direction: rtl !important;
}

input, span, select {
border-radius: 10px;
background-color: transparent;
border-color: indianred;
}

.padding-top-70{
padding-top: 10px;
}

.mmm{
direction: rtl;
}

.width70{
width: 70%;
}

.image-plus{
float: left;
margin-top: -10px;
margin-left: -10px;
}




.details{
float: right;
} 


.uploadImage{
/* height: 10vh; */
}

.my-dialog .mat-dialog-container {
border: 1px solid indianred;
background-color: white;
}

.save {
  /* position: relative; */
  
display: flex;
justify-content: center;
align-items: center;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* 
@mixin myPanel(){
  .my-panel .mat-dialog-container {
    // css here
  }
 } */