<!-- <div class="jumbotron">
    <div class="container text-center">
      <h1 style="color: white" >MICRAZ</h1>      
      <h3 style="color: white">מאגר מכרזים</h3>
    </div>
  </div>

<nav class="navbar">
<div class="container-fluid"></div>


<ul class="nav navbar-nav ">
    <li><a  style="padding-top: 0px;padding-left:500px "[routerLink]="['/Newauctuion']"  ><img src="../../assets/העלאת_מכרזים.png"></a></li>
  <li ><a [routerLink]="['/search']"  style="padding-top: 0px "><img src="../../assets/חיפוש_מכרזים_פעילים.png" width="100%"  ></a></li>
  
</ul>
</nav> -->

<div class="main-div">
  <div class="bcd">
    <form>
      <div class="text-center padding-top-70">
        <h1> העלאת מכרזים</h1>
      </div>


      <div class="row" style="padding-top:50px;">
        <div class="col-lg-3 details">
          <div class="width70">
            <label class="control-label" style="font-size: 15px"> קוד מכרז</label>
            <input class="form-control" type="text" pInputText placeholder="" [(ngModel)]="auctuion.id_auction" name="code" >
          </div>
        </div>
        <div class="col-lg-3 details">
          <div class="width70">
            <label class="control-label" style="font-size: 15px"> קוד אישי</label>
            <span class="form-control" >{{currentUser.id}}</span>
          </div>
        </div>
        <div class="col-lg-3 details">
          <div class="width70">
            <label class="control-label" style="font-size: 15px"> קטגוריה</label>
            <!-- <input class="form-control" type="text" pInputText placeholder="" > -->
            <select class="form-control" [(ngModel)]="auctuion.id_category" name="category">
              <option *ngFor="let c of categoriesService.Categories" value="{{c.id_category}}">{{c.name_category}}</option>
              <!-- <option>רכב</option> -->
            </select>
<!-- 
            <mat-form-field >
              <mat-label class="control-label" style="font-size: 15px">קטגוריה</mat-label>
              <mat-select >
                 <mat-option *ngFor="let c of categories" [value]="c">
                  {{c}}
                </mat-option> -->
                <!-- <mat-option>רכב</mat-option>
              </mat-select>
            </mat-form-field> --> 
          </div>
        </div>
        <div class="col-lg-3 details">
          <div class="width70">
            <label class="control-label" style="font-size: 15px"> העלאת תמונה</label>
            <span class="form-control" type="file" style="height: 80px;">{{imgFileName}}</span>
            <input #fileUpload id="fileUpload" style="display: none;height: 100px;" (change)="fileChange($event)" type="file" accept=".jpg,.png,.gif" />
            <span  class="image-plus" (click)="upload()"><img src="../../assets/פלוס העלאת תמונה.png"></span>
          </div>
        </div>
      </div>
<br>


<div class="row padding-top-70">
 
  <div class="col-lg-3 details">
<div  class="width70">
<label class="control-label" style="font-size: 15px">תאריך פתיחה</label>
<br>
<input type="date" class="form-control" [(ngModel)]="auctuion.date_publication" name="publish_date"/>
</div>

</div>

<div class="col-lg-3 details">
<div  class="width70">
  <label class="control-label" style="font-size: 15px">מחיר התחלתי</label>
  <br>
  <input type="number" class="form-control" min="0" placeholder="0" [(ngModel)]="auctuion.price_start"  name="price"/>

</div>
</div>

<div class="col-lg-3 details">
<div  class="width70">
  <label class="control-label" style="font-size: 15px">תאריך סיום</label>
  <br>
  <input type="date" class="form-control" [(ngModel)]="auctuion.date_close" name="end-date"/>
</div>
</div>
</div>
<br><br>
<div class="save">
  <!-- <div class="vertical-center"> -->
    <a (click)="saveAndUpload()">
      <img src="../../assets/שמירה והעלאת תמונה.png" />
    </a>
  <!-- </div> -->
</div>
      
    </form>
  </div>
</div>
<!-- <a  [routerLink]="['/userold']" ><img src="."></a> -->

<!-- <div class="container">    
      <div class="row"> 
      
        <div class="col-sm-4" *ngFor="let item of MechrazService.listauctuion">
          <div class="panel panel-primary">
          
            <div class="panel-body"><img src="../../assets/{{item.image}}" class="img-responsive" style="width:100%;height: 200px;" alt="Image"></div>
           {{item.date_close  | date}}:תאריך סגירה 
      
           <a [routerLink]="['/productditailes',item.id_auction]">לפרטים</a>
          </div>
        </div>
       -->

       <!-- <label>kjghdsf</label>
       <label>kjgfdghlhgxc</label> -->