.navbar {
    margin-bottom:10%;
    border-radius: 0;

  }
  
  /* Remove the jumbotron's default bottom margin */ 
 
  
  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }
  .p{border: 3px solid brown}


  input {
    text-align: right;
  }

  :host >>> .ui-card{
  
    background-color: #f2f2f2 !important;
      width: 40% !important;;
     position: absolute;
    right: 450px;
   
}
      