
h2 {
  color:#9c3a48 !important;
}
.search{
  
  margin-bottom: 0;
  width:100%;
  height: 10px;
  background-color:#a52a4133;
  top:70px;
  padding-top: 70px;
  padding-bottom: 70px;

}
:host >>>  span.ui-multiselect-label.ui-corner-all {
  width: 160px !important;
}
:host >>> span.ui-multiselect-label.ui-corner-all {
  direction: rtl !important;
}
:host >>> .search.nav.navbar-nav {
  padding-left: 500px !important;
  direction: rtl !important;
}
.size{
  padding: 0.429em;
  padding-right: 2em;
  top:90px;
}
body {
  font-family: "Varela Round Regular",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  text-align: right !important;
  direction: rtl;
}
.input{
  color: #a94442;
  background-color: #f9d6db;
  border: 1px solid #a94442;
  border-radius: 15px;
  width: 250px;
  text-align: right;
}
body .ui-dropdown .ui-dropdown-label {
      /* padding-right: 2em; */
      color: #a94442 !important;
      background-color:#f9d6db  !important;;
      border: 1px solid #a94442  !important;;
      border-radius: 15px;
      width: 250px;

  }
  h1{
      color: #a94442;
      text-align: center;
      font-family: 'Varela Round Regular', 'Varela Round Regular', Calibri, 'Trebuchet MS', sans-serif
  }
  .p{border: 3px solid brown}

  
.ui-multiselect .ui-multiselect-label,
.ui-multiselect .ui-multiselect-trigger-icon {
color: white !important;
max-height: 32px !important;
}
.ui-multiselect .ui-multiselect-trigger-icon {
font-size: 20px;
margin-top: -0.75em !important;
}

.ui-multiselect .ui-multiselect-panel {
border-radius: 16.5px !important;
border: solid 2px blue !important;
background-color: transparent !important;
}
/* 
.ui-multiselect .ng-trigger {
top: -2px !important;
}
.ui-multiselect {
p-header {
  position: absolute;
  right: 40px;
  text-align: right;
} */
/* direction: ltr;
border-radius: 16.5px !important;
border: 1px solid rgb(255, 255, 255) !important;
background-color: transparent !important;
} */
.ui-multiselect .ui-multiselect-trigger {
background-color: transparent !important;
left: 0;
}
.ui-multiselect .ui-multiselect-header {
border-top-left-radius: 16.5px !important;
border-top-right-radius: 16.5px !important;
border-bottom-left-radius: 0 !important;
border-bottom-right-radius: 0 !important;
direction: rtl !important;
}

/* .ui-multiselect .ui-multiselect-item {
text-align: right !important;
span:not(.ui-chkbox-icon) {
  width: 135px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}
} */
.ui-multiselect .ui-multiselect-item .ui-chkbox {
float: right !important;
margin-right: 0 !important;
margin-left: 4px !important;
background-color: rgb(255, 255, 255) !important;
color:blue !important;
}

.ui-multiselect .ui-state-highlight:focus,
.ui-multiselect-close:focus {
outline: none !important;
}
.ui-multiselect .ui-chkbox .ui-chkbox-box {
position: absolute !important;
right: 10px !important;
z-index: 2 !important;
}
.ui-multiselect .ui-chkbox .ui-chkbox-box.ui-state-active {
border-color: red !important;
background-color: transparent !important;
color: red !important;
}
.ui-multiselect .ui-multiselect-close {
position: absolute !important;
left: 7px !important;
top: 18% !important;
}

.ui-multiselect .ui-multiselect-filter-container {
width: 96% !important;
margin-left: 10px !important;
margin-top: 5px !important;
}

.ui-multiselect {
width: 100% !important;
}

.ui-multiselect .ui-multiselect-items-wrapper {
background-color: white !important;
border-bottom-left-radius: 16.5px !important;
border-bottom-right-radius: 16.5px !important;
overflow-x: hidden;
}

.ui-multiselect-filter-icon {
color:red !important;
}
.ui-multiselect .ui-state-highlight {
color:red !important;
background-color: transparent !important;
}
.ui-multiselect .ui-multiselect-panel {
border-radius: 16.5px !important;
min-width: 103% !important;
left: -3px !important;
}
.ui-multiselect .ui-multiselect-label {
padding-right: 1em !important;
text-align: right !important;
min-height: 32px !important;
font-size: 15px !important;
}
/* // when the background is white put wrapper div to rhe input with "blue-select" class
.blue-select {
.ui-multiselect {
  border: 2px solid $darkBlue !important;
}
.ui-multiselect .ui-multiselect-label {
  color: $darkBlue !important;
} 
}*/

.ui-multiselect .ui-multiselect-empty-message {
text-align: right !important;
}

.multi-select-place-holder {
position: absolute;
color: white;
top: -15px;
right: 29px;
font-size: 12px;
font-weight: 300;
}
/* 
.blue-input {
.ui-multiselect {
  border-color:black  !important;
}
.ui-multiselect .ui-multiselect-label,
.ui-multiselect .ui-multiselect-trigger-icon {
  color:red !important;
 
}
} */

/* .blue-grid-input {
.ui-multiselect {
  border-color: white !important;
}
.ui-multiselect .ui-multiselect-label,
.ui-multiselect .ui-multiselect-trigger-icon {
  color: white !important;
 
}
} */